################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj
/.vs/PowerDataNet
/PowerDataTests/bin/Debug/netcoreapp3.1
/PowerDataTests/obj
